<div class="row banner z-depth-2">
    <div class="col l12" id="mainTitle">
        <div class="title">Eat-Da-Burger</div>
        <div class="subtitle">enter a burger you want to eat then click submit</div>
    </div>
</div>


<div class="input-field col s4">
    <input id="stateEnd" type="text" class="validate">
    <label for="stateEnd">State</label>
</div>

<div class="row">
    <div class="center-align">
        <div class="input-field col l12">

            <a href="/results">
                <button class="btn-small waves-effect waves-light red darken-1" id="submitButton" type="submit"
                        name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </a>
        </div>
    </div>
</div>
